Checks: >-
  -*,
  bugprone-*,
  performance-*,
  readability-braces-around-statements,
  readability-implicit-bool-conversion,
  readability-magic-numbers,
  readability-redundant-smartptr-get,
  readability-simplify-boolean-expr
WarningsAsErrors: ''
HeaderFilterRegex: '^sdk/.*'
FormatStyle: file
